@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerenciamento de Cartas do Scryfall</h1>
    <p>Solução completa para organizar suas cartas de forma prática e rápida.</p>
</div>

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <h3>NOSSO SERVIÇO:</h3>
            <p>Organização, pesquisa e mais informações sobre as suas cartas. Recursos especiais de pesquisa, no qual você pode encontrar facilmente as cartas que necessita.</p>
        </div>
        <div class="col">
            <img src="https://cards.scryfall.io/large/front/7/2/7208fcb8-83e6-44ce-af9a-ca1566825018.jpg?1592709532" alt="Banner 1" class="img-fluid">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <img src="https://cards.scryfall.io/large/front/3/3/33e1e8fc-77b4-409d-9fc4-7bc6f6ae3e26.jpg?1682690059" alt="Banner 2" class="img-fluid">
        </div>
        <div class="col">
            <h3>RECURSOS ESPECIAIS</h3>
            <p>Nossos recursos possuem:</p>
            <ul>
                <li>Imagens das cartas.</li>
                <li>Nome, tipo e descrição da carta.</li>
                <li>Coleção e Ilustrador da carta.</li>
                <li>Links de cada carta.</li>
            </ul>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
            <h2>COMO COMEÇAR?</h2>
            <p>Utilize nossa plataforma neste exato momento:</p>
            <ol>
                <li>Realize o login em sua conta.</li>
                <li>Adicione suas cartas.</li>
                <li>Veja as funcionalidades de organização das suas cartas.</li>
                <li>Tenha um controle das suas cartas!</li>
            </ol>
        </div>
        <div class="col">
            <img src="https://cards.scryfall.io/large/front/e/d/edcc9987-73f6-4cbe-9965-1894deabd080.jpg?1674140057" alt="Banner 3" class="img-fluid">
        </div>
    </div>
</div>