@{
}
<div>
    Aqui estão os termos de uso do Scryfall
    <ul>
        <li>
            Cancelamentos sem multa só podem ser realizados em até 48 horas antes da reserva
        </li>
    </ul>
</div>